body {
    margin: 0;
    height: 100vh;
    background-color: #000;
	color:#fff;
	cursor: none;
    font-size: 14px;
    line-height: 1.75;
    height: 100vh;
    overflow-x: hidden;
   
}

#image-container {
    position: absolute;
    pointer-events: none;
}

#cursor-img {
    width: 44px;
    height: 76px;
    position: absolute;
    pointer-events: none;
	z-index: 999;
}

.custom-cursor {
  position: absolute; /* 确保光标可以随鼠标移动 */
  top: 0;
  left: 0;
  transform: translate(-50%, -50%); /* 如果需要让光标中心对齐鼠标 */
  z-index: 999; /* 确保它在最上层 */
  pointer-events: none; /* 避免鼠标事件影响 */
}


.gallery {
	position:absolute;
	top:10%;
  display: grid;
  left:0;
  width:69%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  z-index: 5;

}

.gallery img {
	
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s;
  z-index: 5;
}

.gallery img:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  z-index: 10;
  
}

.hidden {
  display: none;
}


#close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 36px;
  cursor: pointer;
}

.logo {
  width:110px; /* 设置矩形宽度 */
  height: 110px;
  background-color: #fff;
  background-image: url('../pic/logo.jpg'); /* 填充图片背景 */
  background-size: contain; /* 图片适应整个区域 */
  background-position: bottom; /* 图片居中 */
  background-repeat: no-repeat;	  
  position: fixed; 
  top: 15px; 
  right: 15px;
  z-index:100;
}
.aboutme {
  width:110px; /* 设置矩形宽度 */
  height: auto;  
  position: fixed; 
  top: 130px; 
  right: 15px;
  color:#fff;
  z-index:100;
}
.aboutme .highlight {
  font-size: 25px; /* 放大字体 */
  font-weight: 700; /* 加粗字体 */
  color:#fff; /* 可选：设置颜色 */
}
.my-link {
    color: #fff;
	text-decoration: none;
}

.my-link:visited {
    color: #e3c252;
}

.my-link:hover {
	text-decoration: underline;
}
 

.vertical-line {
  width: 2px; /* 分割线的宽度 */
  height: 100vh; /* 高度设置为视口高度，表示页面的高度 */
  background-color: #e3c252; /* 分割线的颜色 */
  position: absolute;
  top: 0%;
  left: 70%; 
  position: fixed;
  transform: translateX(-70%);
}
#vertical-line-2 {
  width: 2px; /* 分割线的宽度 */
  height: 100vh; /* 高度设置为视口高度，表示页面的高度 */
  background-color: #e3c252; /* 分割线的颜色 */
  position: absolute;
  top: 0;
  left: 89%; 
  position: fixed;
  transform: translateX(-89%);
}


.horizontal-rectangle {
  position: fixed; /* 相对于容器定位 */
  left: 70%; /* 线条起点为屏幕的 20% */
  width: 19%; 
  height: 33px;
  bottom: 5%; 
  background: repeating-linear-gradient(
    -45deg,
    #f5e492,
    #f5e492 10px,
    #000 10px,
    #000 20px
  );
}

#horizontal-rectangle2 {
	bottom: 92%; 

}
.branchp {
  position: fixed;
  left: 74%; 
  width: 10%; 
  height: 150px;
  bottom: 65%;
  background-image: url('../pic/branchp.png'); /* 填充图片背景 */
  background-size: contain; /* 图片适应整个区域 */
  background-position: center; /* 图片居中 */
  background-repeat: no-repeat;	
  
}


.branchp:hover {
	transform: scale(1.1);

  }
  
#search-input {
  position: fixed;
  left: 70.7%; 
  width: 15.6%;
  bottom: 55%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.labels{	
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 每行 5 个 */
  grid-gap: 2px; /* 每个多边形之间的间距 */
  left: 70.5%; 
  bottom: 45%;
  width:18%;
  position: fixed;

}

.filter-button{	
position: relative;
  font-size: 18px;
  height:30px;
  width:auto;
  color:#efeea2;
  border:2px solid #efeea2;
  border-radius:7px;
  margin:2px;
  padding:0;
  
  vertical-align:top;
  text-align:center;

	
}

.filter-button:hover{
	transform: scale(1.1); 
	color:#e3c252 ;
    border:2px solid #e3c252 ;
	
}
.horizontal-box {
  position: fixed; /* 绝对定位 */
  bottom: 56%;
  left: 70.7%; 
  width: 17.5%;
  height:70px;
  z-index: 3;
  box-sizing: border-box; 
  background:#000;
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px); 
  border: 3px solid #e3c252;
  text-align: center;
  color:#e3c252;  
  font-size: 40px;
  line-height: 40px; /* 设置行高与字体大小一致 */
  padding: 0; /* 移除内边距 */
  overflow: hidden;
  border-r:none;
}

.horizontal-box:before {
  content: ""; 
  display: block;
  height: 20px;
  width: 240px;
  top: 0px; 
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: repeating-linear-gradient(
    -45deg,
    #e3c252,
    #e3c252 10px,
    #000 10px,
    #000 20px
  );
  clip-path: polygon(20px 0, 50% 0, 45% 100%, 0 100%);
}

.horizontal-box:hover {
  transform: scale(1.05); /* 鼠标悬停放大效果 */
  }

#horizontal-box1{
  position:static;
  margin-top: 8px;
  left: 0%; 
  width: 70%;
  height:50px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px); 
  border: 2px solid #e3c252;
  font-size: 20px;
  line-height: 1px; /* 设置行高与字体大小一致 */
  padding: 0; /* 移除内边距 */
  overflow: hidden;

  
}

#horizontal-box1:before {
  content: ""; 
  display: block;
  height: 46px;
  width: 321px;
  top: 0px; 
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: repeating-linear-gradient(
    -45deg,
    #e3c252,
    #e3c252 10px,
    #000 10px,
    #000 20px
  );
  clip-path: polygon(40px 0, 55% 0, 40% 100%, 0 100%);
}

#horizontal-box1:hover {
	transform: scale(1.0);

  }
  
